
<ul class="list-unstyled">
  <li ng-repeat="x in details">
    <h2>{{ x.name }}</h2>
      <table>
          <tr>
              <th>Address</th>
              <td> {{x.address}}</td>
          </tr>
          <tr>
              <th>City</th>
              <td>{{x.city}}</td>
          </tr>
          <tr>
              <th>Cuisines</th>
              <td>{{x.cuisines}}</td>
          </tr>
          <tr>
              <th>Phone</th>
              <td>{{x.phone}}</td>
          </tr>
          <tr>
              <th>Hours</th>
              <td>{{x.hours}}</td>
          </tr>
                    

          
         
      </table>
<!--      <img src="/hotelApp/images/{{x.pic}}" alt="not found" style="width:800px;height:400px">-->
  </li>
</ul> 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    
    
    
</div>