

<!--Landing Page-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="frontpic">
               <p><input type="text" size="45"><a href="#"><span class="glyphicon glyphicon-search"></span></a></p>
            </div>
            
<!--        <img class="img-responsive" src="/hotelApp/images/collage_photocat.jpg"   />-->
        </div>
    </div>
      
    
<div class="row">
    <div class="col-md-4">
         <a href="#/restaurants/1" class="thumbnail">
        <img src="/hotelApp/images/healthy-choices-at-mexican-restuarant-vert.jpg"                                          style="width:250px;height:200px">
        </a>
    </div>
    
    <div class="col-md-4">
    <img src="/hotelApp/images/mex2.jpg" style="width:250px;height:200px">
    </div>
    
    <div class="col-md-4">
    <img src="/hotelApp/images/mexican.jpg" style="width:250px;height:200px">
    </div>
    

</div>
</div>