

<!--Landing Page-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="frontpic">
                <p><input type="text" size="45">
                   <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </p>
            </div>
        </div>
    </div>
    
    
      
    
    <div class="row">
        <div class="col-md-3">
            <a href="#/restaurants/1" class="thumbnail">
                <img src="/hotelApp/images/naancorner.jpg" style="width:200px;height:150px">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#/restaurants/2" class="thumbnail">
                <img src="/hotelApp/images/biriyani.jpg" style="width:200px;height:150px">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#/restaurants/3" class="thumbnail">
                <img src="/hotelApp/images/chettinad.jpg" style="width:200px;height:150px">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#/restaurants/4" class="thumbnail">
                <img src="/hotelApp/images/south-indian-thaali.jpg" style="width:200px;height:150px">
            </a>
        </div>


    </div>
</div>